.task-box-header {
  display: flex;
  align-items: center;
  padding: 0 50px;
  padding-top: 22px;
}
.task-box-title {
  font-size: 2.5em;
  padding: 25px 0;
  font-weight: 500;
}

.remove-button {
  font-size: 1.1em;
  font-style: italic;
  margin-left: 35px;
  padding: 10px 10px;
  background: none;
  border: 2px solid red;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.remove-button:hover {
  color: #fff;
  background-color: red;
  transition: 0.3s;
}

.task-box-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 700px;
  margin-top: 20px;
}

.column {
  width: 400px;
  max-height: 700px;
  background-color: #f6f9fa;
  border-radius: 15px;
  padding: 17px 25px;
  font-size: 1.4em;
  font-weight: 400;
  font-style: italic;
  transition: 1s;
}

.add-task-button {
  width: 400px;
  height: 40px;
  font-size: 1.3em;
  line-height: 40px;
  background-color: #ebf1f1;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  text-align: center;
  font-style: normal;
  margin: 15px auto;
  font-size: 1.1em;
}

.add-task-button:hover {
  background-color: #dee4e4;
}

.task-container {
  width: 100%;
  min-height: 30px;
  max-height: 600px;
  overflow: auto;
  overflow: hidden; /* 移除滚动条 */
}

.task {
  position: relative;
  width: calc(100% - 33px);
  height: 90px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  border: 1px solid #ccc;
  outline: none;
}

.task-todo .task-name::before {
  content: '●';
  font-style: normal;
  color: rgb(247, 231, 9);
  margin-right: 10px;
  font-size: 1.5em;
}

.task-in-progress .task-name::before {
  content: '●';
  font-style: normal;
  color: rgb(241, 47, 22);
  margin-right: 10px;
  font-size: 1.5em; /* 修改content的大小 */
}

.task-completed .task-name::before {
  content: '●';
  font-style: normal;
  color: rgb(91, 226, 91);
  margin-right: 10px;
  font-size: 1.5em;
}

.task:hover {
  background-color: rgba(0, 119, 256, 0.014);
  transition: 0.2s;
}

.task-name {
  font-style: normal;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.1em;
}

.task-name::before {
  content: '●';
  font-style: normal;
  color: #f19737;
  margin-right: 10px;
}

.task-details {
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  color: #9c9c9c;
  word-wrap: break-word;
  margin-top: 10px;
  line-height: 1.1em;
}

.remove-bar {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: end;
  font-size: 3.5em;
  font-weight: 300;
  color: #888;
  line-height: 0.1em;
  transition: 0.5s;
}

.remove-bar:hover {
  color: red;
  font-size: 8em;
  line-height: 0.01em;
  transition: 0.5s;
}
